/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
	box-sizing: border-box;
	@include font-size(1);
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: $base__space-unit;
}

ul, ol {
	margin: 0 0 $base__space-unit ($base__space-unit * 2);
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $base__space-unit;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $base__space-unit $base__space-unit;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 $base__space-unit;
	width: 100%;
}


// BUTTON STYLES

.green-btn {
	background: #248a83;
	color: white;
	cursor: pointer;
	font-family: $font__header;
	padding: .75rem 1.5rem;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		background-color: #19625d;
		color: white;
	}
	&:visited {
		color: white;
	}
}

.white-btn {
	border: 1px solid white;
	padding: 12.5px 25px;
	font-family: $font__pre;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-size: 0.9rem;
	line-height: 5rem;

	&:hover {
		background-color: #248A83;
		color: white;
		border: 1px solid #248A83;
		outline: 0;
	}

	&:active {
		outline: 0;
	}

	&:visited {
		color: white;

		&:hover {
			color:white;
		}
	}
}

.black-btn {
	color: black;
	cursor: pointer;
	font-family: $font__header;
	padding: .75rem 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid black;
	line-height: 3rem;

	&:hover {
		background: #248A83;
		color: white !important;
		border: 1px solid #248A83;
	}

	&:visited {
		color: black;
	}
}

//


// AFFECTS STYLING ON FP

.fp-header {
	font-size: 2.4rem;
	font-weight: 400;
	margin-top: 3.75rem;
	margin-bottom: 3.75rem;
	text-align: center;
	color: #2f1339;
}

h1 {
	font-family: $font__header;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.fp-shop-ctg p {
	font-family: $font__main;
	font-size: 1rem;
	line-height: 1.75;
}

//

.container {
	width: 1120px;
	margin: 0 auto;
}
