.page-content {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
  margin-top: 0;
  padding-top: 50px;
}

.find-us-border {
  border-right: 1px solid #e1e1e1;
  padding: 3.25rem 5% 3rem 0;
  width: 73%;
}
